.Card .background-image{
  background-image: url("images/bg-main-desktop.png");
  width:400px;
  height:100vh;
}

.card-front-infos{
  padding: 20px;
}

.card-circle{
  margin-bottom: 50px;
}

.card-circle-up{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFF;
}

.card-open-circle{
  width: 20px;
  height: 20px;
  border: 1px solid #FFFF;
  border-radius: 50px;
  margin-left:16px;
}

.Card .card-front{
  background-image:url("images/bg-card-front.png");
  width: 400px;
  height: 200px;
  position: absolute;
  left: 70px;
  top: 140px;
  border-radius: 8px;
}



.card-form{
  padding: 8px;
  position: absolute;
  bottom: 230px;
  right: 90px;
}
