.Card{
  font-family: 'Space Grotesk', sans-serif;
  height: 100vh;
}

/* .Card .background-image{
  background-image: url("images/bg-main-desktop.png");
  width:400px;
  height:100vh;
}

.card-front-infos{
  padding: 20px;
}

.card-circle{
  margin-bottom: 80px;
}

.card-circle-up{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FFFF;
}

.card-open-circle{
  width: 20px;
  height: 20px;
  border: 1px solid #FFFF;
  border-radius: 50px;
  margin-left:16px;
} */

 .card-front{
  background-image:url("images/bg-card-front.png");
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  background-repeat: no-repeat;
}

 .card-back{
  background-image:url("images/bg-card-back.png");
  width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
 }

 .card-spacing{
  letter-spacing: 2px;
 }

 .card-number{
  font-size: 22px;
 }

 .card-details p{
  margin: 0;
 }

 .card-cvc{
  top: 86px;
  right: 22px;
 }

.active-input{
  border: 1px solid rgba(151, 76, 194);
}

 @media(min-width: 1024px){
  .card-front, .card-back {
    width: 480px;
    height: 280px;
    border-radius: 18px;
  }

  .card-number{
    font-size: 32px;
    margin-bottom: 22px;
  }

  .card-cvc{
    top: 123px;
    right: 43px;
    font-size: 18px;
   }
 }




/* .card-form{
  padding: 8px;
  position: absolute;
  bottom: 230px;
  right: 90px;
} */
